<h3>Student Performance Tracker</h3>
<table>
    <tr>
        <th>Points</th>
        <th>Points Possible</th>
        <th>Percent</th>
        <th>Grade</th>
    </tr>
    <tr>
        <td>
            {{performanceResults.newPointsScored}}
        </td>
        <td>
            {{performanceResults.newPossiblePoints}}
        </td>
        <td>
            {{performanceResults.newPercent}}%
        </td>
        <td>
            {{performanceResults.newGrade}}
        </td>
    </tr>
</table>
<br>
<br>

